.profile__avatar {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

@media screen and (max-width: 740px) {
  .profile__avatar {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__avatar {
    margin-right: 0;
  }
}

.profile__avatar-button {
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 36px;
  width: 120px;
  height: 120px;
  z-index: 0;
}

.profile__avatar-button:hover {
  z-index: 2;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.80);
  background-image: url(/src/images/edit-avatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px;
}